.about-list {
    display: flex;
    flex-wrap: wrap;
    }

    .about-list__item {
        width: 450px;
    }

    .about-list__img {
        margin-bottom: 30px;
        width: 450px;
        height: 120px;
        background: #F5F4FA;
        @extend %align;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

        .subtitle_theme_white {
        text-align: center;
        margin-bottom: 10px;
        color: var(--about-subtitle-color);
    } 

    .about-list__desc {
        @include font (400, 14px, 24px, 0.03em);
        color: var(--about-desc-color);
    }

@media screen and (min-width: 768px){
    .about-list__item {
        width: 354px;
        height: 224px;
    }

    .about-list__img {
        width: 354px;
        height: 120px;
    }

    // .about-list__item:nth-child(2n + 1) {
    //         margin-right: 30px;
    // }

    .subtitle_theme_white{
        text-align: start;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .about-list__item:nth-child(2n + 1) {
        margin-right: 30px;
}
}

@media screen and (max-width: 1199px) {
    .about-list__item {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .about-list {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .about-list__item {
        width: 270px;
        height: 248px;
    }

    .about-list__img {
        width: 270px;
    }

    .about-list__item + .about-list__item {
        margin-left: 30px;
        }
}