    .footer {
        background-color: var(--body-background-color);
        padding-top: 60px;
        padding-bottom: 60px;
        }

    .footer__container{
        display: block;
    }

    .logo_theme_dark {
        display: block;
        color: var(--footer-logo-color);
        margin-bottom: 20px;
    }

    .footer-list__item:not(:last-child) {
        margin-bottom: 8px; 
        }
    
    .footer-list__link {
        font-style: normal;
        @include font (400, 14px, 24px, 0.03em);
        color: var(--footer-links-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,  
            &:focus {
                color: var(--accent-color);
            }
        }
    
    .footer-list__link_map {
        color: var(--footer-logo-color);
    }

    .subtitle_footer {
        margin-bottom: 20px;
    }

    .subtitle_theme_dark {
        color: var(--footer-text-color);
    }

    .footer-socials__list {
        display: flex;
        justify-content: center;
    }
    
    
    .footer-socials__item:not(:nth-child(4n)) {
        margin-right: 10px;
    }
    
    .footer-socials__link {
        @extend %align;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--footer-text-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,  
        &:focus{
            background-color: var(--accent-color);
        }
    }
    
    .footer-socials__icon {
        Fill:currentColor;
    }

    .subscription__form {
        display: flex;
    }
    
    .subscription__input {
        height: 50px;
        width: 100%;
        background-color: transparent;
        padding-left: 16px;
        color: var(--footer-logo-color);
        @include font (400, 16px, 20px, 0.03em);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .subscription__btn {
        @extend %align;
        text-align: center;
    }
    
    .subscription__icon {
        margin-left: 10px;
    }

    @media screen and (min-width: 480px){
        .subscription__input {
            width: 450px;
        }
    }

    @media screen and (max-width: 767px){
        .footer__container {
            flex-direction: column;
        }

        .footer-socials, .subscription {
            margin-top: 60px;
        }
    }

    @media screen and (min-width: 768px) {
        .footer__container {
            align-items: baseline;
        }
        .main-address {
            align-items: baseline;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        .footer__container {
            flex-wrap: wrap;
            justify-content: center;
        }
        .main-address {
            display: flex;
            margin-bottom: 60px;
            justify-content: center;
        }
        .footer-address{
            margin-right: 165px;
        }
    }

    @media screen and (max-width: 1199px) {
        .footer__container {
        text-align: center;
        }

        .subscription__form {
            flex-direction: column;
            align-items: center;
        }

        .subscription__input {
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 1200px){
        .footer__container {
            display: flex;
            justify-content: space-between;
        }
        .main-address {
            display: flex;
        }
        .footer-address {
            margin-right: 70px;
        }
        .footer-list__item {
            margin-bottom: 9px; 
        }
        .subscription__input {
            width: 358px;
            margin-right: 12px;
        }
    }